* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  font-family: "Inter", sans-serif;
  padding-top: 20px;
}
body.register-body {
  background-color: #fafafa;
}

input {
  border: none;
}

/***** typography styles *****/
.display-2xl {
  font-size: 4.5rem;
  line-height: 5.625rem;
  color: #181d27;
}

.display-xl {
  font-size: 3.75rem;
  line-height: 4.5rem;
  color: #181d27;
}

.display-lg {
  font-size: 3rem;
  color: #181d27;
}

.display-md {
  font-size: 2.25rem;
  line-height: 2.75rem;
  color: #181d27;
}

.display-sm {
  font-size: 1.875rem;
  line-height: 2.375rem;
  color: #181d27;
}

.display-xs {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #181d27;
}

.supportive-text {
  color: #9e77ed;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 16px;
}

.semi-bold {
  font-weight: 600;
}

p.large-text {
  font-size: 1.25rem;
  font-weight: normal;
  color: #535862;
  line-height: 1.875rem;
}

.pricing {
  padding: 96px 0;
}
.pricing .pricing-tables {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 96px;
  position: relative;
}
.pricing .pricing-tables .pricing-table {
  background-color: #fff;
  border: 1px solid #d4d5d9;
  box-shadow: 0px 12px 16px -4px rgba(10, 13, 18, 0.08), 0px 4px 6px -2px rgba(10, 13, 18, 0.03), 0px 2px 2px -1px rgba(10, 13, 18, 0.04);
  border-radius: 8px;
  width: 384px;
  overflow: hidden;
  padding-bottom: 40px;
}
.pricing .pricing-tables .pricing-table .header {
  padding: 40px 32px 32px 32px;
  text-align: center;
}
.pricing .pricing-tables .pricing-table .header .price {
  font-size: 3rem;
  font-weight: bold;
}
.pricing .pricing-tables .pricing-table .header .plan-title {
  font-size: 1.25rem;
  color: #181d27;
  font-weight: bold;
  text-transform: capitalize;
}
.pricing .pricing-tables .pricing-table .header .dark-supportive-text {
  font-size: 1rem;
  font-weight: bold;
}
.pricing .pricing-tables .pricing-table ul {
  list-style: none;
  margin: 0;
  padding: 0 32px 0 32px;
  text-align: left;
}
.pricing .pricing-tables .pricing-table li {
  display: flex;
  font-size: 1rem;
  color: #535868;
  margin-bottom: 16px;
}
.pricing .pricing-tables .pricing-table li .icon {
  margin-right: 10px;
}
.pricing .pricing-tables .pricing-table .button-group {
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 25px;
}
.pricing .pricing-tables .pricing-table .button-group .primary-btn {
  background-color: #9e77ed;
  border: none;
  font-size: 1rem;
  padding: 10px 0;
  color: white;
  text-transform: capitalize;
}
.pricing .pricing-tables .pricing-table .button-group .secondary-btn {
  background-color: #fff;
  border: 1px solid #d4d5d9;
  padding: 10px 0;
  font-size: 1rem;
  text-transform: capitalize;
  color: #414653;
}
.pricing .pricing-tables .pricing-table .button-group .primary-btn,
.pricing .pricing-tables .pricing-table .button-group .secondary-btn {
  border-radius: 8px;
}
.pricing .pricing-tables .pricing-table .button-group .primary-btn:hover,
.pricing .pricing-tables .pricing-table .button-group .secondary-btn:hover {
  cursor: pointer;
}
.pricing .pricing-tables .call-out {
  position: absolute;
  top: -35px;
  left: 275px;
}

/***** header styles *****/
header.primary-header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
header.primary-header .logo .logo-text {
  font-size: 22px;
  font-weight: bold;
  margin-left: 10px;
}
header.primary-header nav.primary ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin-right: auto;
}
header.primary-header nav.primary li {
  margin-right: 30px;
}
header.primary-header nav.primary a {
  text-transform: capitalize;
  text-decoration: none;
  color: #414151;
  font-size: 14px;
  font-weight: bold;
}
header.primary-header nav.secondary ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}
header.primary-header nav.secondary li {
  margin-right: 30px;
}
header.primary-header nav.secondary a {
  text-transform: capitalize;
  text-decoration: none;
  color: #414151;
  font-size: 14px;
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: bold;
}
header.primary-header nav.secondary a.secondary-btn-link {
  color: #414151;
  background-color: transparent;
  border: 1px solid #d4d5d9;
  border-radius: 8px;
}
header.primary-header nav.secondary a.primary-btn-link {
  background-color: #7e5fbe;
  color: #fff;
}

.features-secondary {
  background-color: #fafafa;
  padding: 96px 0;
}
.features-secondary .display-lg:first-letter {
  text-transform: capitalize;
}
.features-secondary .large-text {
  margin-bottom: 64px;
}
.features-secondary .features {
  display: flex;
  gap: 32px;
}
.features-secondary .features.last {
  margin-top: 32px;
}
.features-secondary .features .feature {
  width: 384px;
}
.features-secondary .features .feature .title {
  font-size: 18px;
  font-weight: bold;
  margin: 16px 0;
  text-transform: capitalize;
}
.features-secondary .features .feature .icon {
  width: 48px;
  height: 48px;
  border: 1px solid #d4d5d9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.features-secondary .features .feature .icon.no-border {
  border: none;
  padding: 0;
  width: 20px;
  height: 20px;
  margin-top: 3px;
  margin-left: 6px;
}
.features-secondary .features .feature p.description {
  color: #535862;
}
.features-secondary .features .feature .learn-more {
  display: flex;
  margin-top: 18px;
}
.features-secondary .features .feature .learn-more a {
  text-decoration: none;
  color: #7e5fbe;
  font-weight: bold;
}
.features-secondary .features .feature .learn-more a:first-letter {
  text-transform: capitalize;
}

.faq {
  padding: 96px 0;
}
.faq .large-text {
  margin-top: 16px;
}
.faq .questions {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq .questions .question {
  width: 384px;
}
.faq .questions .question .title {
  font-size: 16px;
  font-weight: bold;
}
.faq .questions .question.last {
  margin-top: 32px;
}
.faq .questions .question .desc {
  color: #535862;
  font-size: 16px;
  margin-top: 8px;
  line-height: 24px;
}

.primary-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 0 32px 0;
  align-self: stretch;
  border-bottom: 1px solid #d4d5d9;
}
.primary-footer .col-header {
  margin-bottom: 16px;
  text-transform: capitalize;
  font-weight: bold;
}
.primary-footer ul {
  list-style: none;
}
.primary-footer ul li {
  margin-bottom: 12px;
}
.primary-footer ul a {
  text-decoration: none;
  color: #535862;
  text-transform: capitalize;
}
.primary-footer .badge-secondary {
  border: 1px solid #d4d5d9;
  padding: 0 6px;
  font-size: 14px;
  color: #535862;
  border-radius: 4px;
  text-transform: capitalize;
}

.post-footer {
  padding: 20px 0;
}
.post-footer .logo {
  display: flex;
  align-items: center;
}
.post-footer .logo .logo-text {
  font-size: 20px;
  text-transform: capitalize;
  margin-left: 10px;
}
.post-footer .copyright {
  color: #717680;
}

.register-card-one {
  width: 360px;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px;
  box-shadow: 0px 24px 48px -12px rgba(10, 13, 18, 0.18), 0px 4px 4px -2px rgba(10, 13, 18, 0.04);
  font-family: "Inter", sans-serif;
}
.register-card-one .icon {
  width: 38px;
  margin: 0 auto;
}
.register-card-one .title {
  text-align: center;
}
.register-card-one .title:first-letter {
  text-transform: capitalize;
}
.register-card-one .form-text {
  text-align: center;
  font-size: 14px;
}
.register-card-one label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #414653;
  margin-bottom: 6px;
  text-transform: capitalize;
}
.register-card-one .tab-group {
  display: flex;
  list-style: none;
  border-radius: 4px;
  border: 1px solid #d4d5d9;
  background-color: #fafafa;
  text-transform: capitalize;
  overflow: hidden;
  font-weight: bold;
  margin: 20px 0;
}
.register-card-one .tab-group li {
  flex: 1;
  text-align: center;
  font-size: 14px;
  color: #414651;
  padding: 8px 0;
}
.register-card-one .tab-group li.active {
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.register-card-one .register-form-one .form-group {
  margin-bottom: 20px;
}
.register-card-one .register-form-one input {
  border: 1px solid #d4d5d9;
  padding: 10px 14px;
  width: 100%;
  border-radius: 4px;
}
.register-card-one .register-form-one input::placeholder {
  text-transform: capitalize;
}
.register-card-one .button-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}
.register-card-one .primary-btn {
  background-color: #7e5fbe;
  color: #fff;
  border: none;
  padding: 10px 16px;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: bold;
  font-family: inherit;
  border-radius: 4px;
  cursor: pointer;
}
.register-card-one .secondary-btn {
  background-color: transparent;
  border: 1px solid #d4d5d9;
  color: #414653;
  padding: 10px 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  font-family: inherit;
  border-radius: 4px;
  cursor: pointer;
  text-transform: capitalize;
}
.register-card-one .secondary-btn svg {
  margin-right: 10px;
}
.register-card-one .small-form-text {
  font-size: 14px;
  text-transform: capitalize;
  text-align: center;
  color: #535862;
  font-weight: bold;
}
.register-card-one .small-form-text .primary-link {
  color: #7e5fbe;
  text-decoration: none;
  font-weight: bold;
}

.check-icon {
  background: url("../img/check-icon.svg") no-repeat;
  width: 24px;
  height: 24px;
}

.inbox-icon {
  background: url("../img/inbox-icon.svg") no-repeat;
  width: 24px;
  height: 24px;
}

.instant-delivery-icon {
  background: url("../img/instant-delivery-icon.svg") no-repeat;
  width: 24px;
  height: 24px;
}

.left-primary-arrow {
  background: url("../img/learn-more-icon.svg") no-repeat;
  width: 20px;
  height: 20px;
}

.google-icon {
  background: url("../img/google-icon.svg") no-repeat;
  width: 24px;
  height: 24px;
}

.call-out {
  background: url("../img/callout.png") no-repeat;
  width: 153px;
  height: 54px;
}