@import "mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    padding: 20px;

    @include respond-to(mobile) {
        padding: 10px;
        font-size: 14px;
    }

    @include respond-to(tablet) {
        padding: 20px;
        font-size: 16px;
    }

    @include respond-to(desktop) {
        padding: 30px;
        font-size: 18px;
        max-width: 1200px;
        margin: 0 auto;
    }
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    font-family: "Inter", sans-serif;
    padding-top: 20px;

    &.register-body {
        background-color: #fafafa;
    }

    &.mobile {
        display: flex;
        flex-direction: column;
    }
}


input {
    border: none;
}