@import "mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1280px;
    margin: 0 auto;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    font-family: "Inter", sans-serif;
    padding-top: 20px;

    &.register-body {
        background-color: #fafafa;
    }

    &.mobile {
        display: flex;
        flex-direction: column;
    }
}


input {
    border: none;
}