@mixin display($type) {
    @if $type == 'flex' {
        display: flex;
    } @else if $type == 'table' {
        display: table;
    } @else if $type == 'grid' {
        display: grid;
    }
}

@function px-to-rem($size) {
    @return calc($size / 16) * 1rem;
}

@function tint-color($color, $weight) {
    @return mix(#fff, $color, $weight);
}

@function shade-color($color, $weight) {
    @return mix(#000, $color, $weight);
}

@mixin set-font-color($color) {
    color: $color;
}
@mixin set-font-size($size) {
    font-size: px-to-rem($size);
}

@mixin set-font-weight($weight) {
    font-weight: $weight;
}

@mixin set-line-height($size) {
    line-height: px-to-rem($size);
}

$bps: (
    mobile: 768px,
    tablet: 1024px,
    desktop: 1200px
);

@mixin respond-to($bp) {
    @if map-has-key($bps, $bp) {
        @if $bp == mobile {
            @media (max-width: #{map-get($bps, mobile) - 1}) {
                @content;
            }
        } @else if $bp == tablet {
            @media (min-width: #{map-get($bps, mobile)} and (max-width: #{map-get($bps, tablet)})) {
                @content;
            }
        } @else if $bp == desktop {
            @media (min-width: #{map-get($bps, tablet)}) and (max-width: #{map-get($bps, desktop) - 1}) {
                @content;
            }
        }
    } @else {
        @warn "Invalid breakpoint: #{$bp}. available breakpoints: #{map-get($bps)}";
    }
}