.check-icon {
    background: url('../img/check-icon.svg') no-repeat;
    width: 24px;
    height: 24px;
}

.inbox-icon {
    background: url('../img/inbox-icon.svg') no-repeat;
    width: 24px;
    height: 24px;
}

.instant-delivery-icon {
    background: url('../img/instant-delivery-icon.svg') no-repeat;
    width: 24px;
    height: 24px;
}

.left-primary-arrow {
    background: url('../img/learn-more-icon.svg') no-repeat;
    width: 20px;
    height: 20px;
}

.google-icon {
    background: url('../img/google-icon.svg') no-repeat;
    width: 24px;
    height: 24px;
}

.call-out {
    background: url("../img/callout.png") no-repeat;
    width: 153px;
    height: 54px;
}

.mobile-menu {
    background: url('../img/mobile-menu.svg') no-repeat;
    width: 24px;
    height: 24px;
}